<%- include("./partials/header.ejs") %>

<div class="wrapper">
    <div class="content rounded">
        <p class="lead display-6">
            ho gya login
        </p>
    </div>
</div>

<%- include("./partials/footer.ejs") %>